# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo SYSTEM CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
system name {{host}}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo SFM CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{%- for SFM in SFM_CFG.SFM %}
sfm {{ SFM.SFM_SLOT }}
{%- for TYPE in SFM.TYPE %}
sfm-type {{ TYPE.SFM_TYPE }}
{% endfor %}
{% endfor %}
exit
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo CARD-MDA CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{%- for CARD in CARD_CFG.CARD %}
card {{ CARD.CARD_SLOT }}
{%- for TYPE in CARD.TYPE %}
card-type {{ TYPE.CARD_TYPE }}
{%- for MDA in TYPE.MDA %}
mda {{ MDA.MDA_SLOT }}
{%- for TYPE in MDA.TYPE %}
mda-type {{ TYPE.MDA_TYPE }}
exit
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo PORT CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/configure port 1/1/1
no shut
ethernet mtu 9212
/configure port 1/1/2
no shut
ethernet mtu 9212
/configure port 1/1/3
no shut
ethernet mtu 9212
/configure port 1/1/4
no shut
ethernet mtu 9212
/configure port 1/1/5
no shut
ethernet mtu 9212
exit all
/configure port 1/1/6
no shut
ethernet mtu 9212
exit all
/configure port 1/1/7
no shut
ethernet mtu 9212
exit all
/configure port 1/1/8
no shut
ethernet mtu 9212
exit all
/configure port 1/1/9
no shut
ethernet mtu 9212
exit all
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo ROUTER PREFIX-LIST CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
configure router interface system address {{SYSTEM_IP}}/32
{%- for ip in PREFIX %}
configure router policy-options
begin
prefix-list {{ ip[0] }}
prefix {{ ip[1] }}
exit
commit
exit all
{%- endfor %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo ROUTER POLICY CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{%- if POLICY %}
/configure router policy-options
begin
policy-statement {{POLICY}}
entry 10
from prefix-list "System-IPz"
action accept
/configure router policy-options commit
exit all
{%- endif %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo NETWORK INTERFACE CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{%- for iface in NETW_INTERFACES %}
/configure router interface {{ iface[0] }}
address {{ iface[1] }}
port {{ iface[2] }}
{%- endfor %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo ROUTER MPLS CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{%- if MPLS %}
/configure router ldp
targeted-session
peer-template "TLDP-Mesh"
tunneling
no shutdown
exit
peer-template-map peer-template "TLDP-Mesh" policy "Remote-PEz"
exit all
/configure router ldp no shut
/configure router mpls no shut
/configure router rsvp no shut
/configure router mpls
path "loose"
no shutdown
exit
lsp-template "Full-Mesh" mesh-p2p
default-path "loose"
cspf
fast-reroute facility
exit
no shutdown
exit
auto-lsp lsp-template "Full-Mesh" policy "Remote-PEz"
exit all
{%- endif %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo MPLS INTERFACE CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{%- for iface in MPLS_INTERFACES %}
/configure router mpls interface {{ iface[0] }}
no shut
{%- endfor %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo ROUTER BGP-AS CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/configure router autonomous-system {{BGP_AS}}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo ROUTER BGP-GROUP CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/configure router bgp group mp-BGP
family vpn-ipv4 l2-vpn
peer-as {{BGP_AS}}
{%- for peer in IBGP_NXBRS %}
neighbor {{ peer[0] }}
exit
{%- endfor %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo MPLS SHORTCUTS CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{%- if MPLS_SHORTCUTS %}
/configure router bgp
next-hop-resolution
shortcut-tunnel
family ipv4
resolution-filter
rsvp
exit
resolution filter
{%- endif %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo BGP RAPID-UPDATE CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{% if BGP_RAPIDUPDATE %}
/configure router bgp rapid-update l2-vpn
{%- endif %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo RSVP SHORTCUTS CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{%- if rsvp_shortcut %}
/configure router ospf rsvp-shortcut
{% endif %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo OSPF CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{% for AREA in OSPF_CFG.AREA %}
/configure
router
ospf
{%- if AREA.OSPF_LDPRSVP %}
ldp-over-rsvp
{%- endif %}
{%- if AREA.TRAFFIC_ENG %}
traffic-engineering
{%- endif %}
area {{ AREA.AREA_ID }}
{% for INTERFACES in AREA.INTERFACES %}
interface {{ INTERFACES.INT_NAME }}
interface-type {{ INTERFACES.INT_TYPE }}
exit
{% endfor %}
{% endfor %}
exit
exit
exit
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo PW-TEMPLATE CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
service pw-template 2 create
hash-label
split-horizon-group "vpls-shg"
exit
exit
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo MGMT VPLS CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
service vpls {{MGMT_VPLS}} customer 1 name "NODE_L2_MGMT" create
service-mtu 9100
allow-ip-int-bind
exit
bgp
route-distinguisher {{BGP_AS}}:{{MGMT_VPLS}}
route-target export target:{{BGP_AS}}:{{MGMT_VPLS}} import target:{{BGP_AS}}:{{MGMT_VPLS}}
pw-template-binding 2 split-horizon-group "vpls-shg" import-rt "target:{{BGP_AS}}:{{MGMT_VPLS}}"
exit
exit
bgp-ad
vpls-id {{BGP_AS}}:{{MGMT_VPLS}}
vsi-id
prefix {{ SYSTEM_IP }}
exit
no shutdown
exit
no shutdown
exit
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo MGMT SAP CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{% if mgmt_SAP %}
port {{MGMT_SAP}}
shutdown
ethernet mode access
ethernet encap dot1q
ethernet mtu 9212
no shut
exit
service vpls {{MGMT_VPLS}}
sap {{MGMT_SAP}}:{{MGMT_VPLS}} create
exit
exit
{% endif %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo MGMT IES CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{% if IES_ID %}
service ies {{IES_ID}} customer 1 create
interface "L3_NODE_MGMT" create
address {{hostip}}/24
vpls "NODE_L2_MGMT"
exit
no shutdown
exit
exit
{% endif %}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo VPRN CONFIGURATION
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
service vprn {{ VPRN }} customer 1 create
autonomous-system {{ BGP_AS }}
route-distinguisher {{ BGP_AS }}:{{ VPRN }}
auto-bind-tunnel
    resolution any
exit
vrf-target target:{{ BGP_AS }}:{{ VPRN }}
no shut
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
echo SAVING CONFIG
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{% if ADMIN_SAVE %}
/admin save
{% endif %}

